
html {
  position: relative;
  min-height: 100%;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

a {
 text-decoration: none;
 color: black;
}

body{
  margin-bottom: 60px;
}

footer {
  position: absolute;
  width: 100%;
  height: 150px;
  background: 
    linear-gradient(
      rgba(71, 71, 249, 1) , 
      rgba(19, 19, 20, 1)
    ),
    url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.footertext {
  color: white;
}

.container .row{
	margin-top: 30px;
}

.footlink{
	padding-right: 20px;
}

.top-right{
	position:absolute;
   	top:0;
   	right:10px;
}

.offre{
	border:1px solid black;
}

btn btn-info collapse{
	background: black
}

